#canvas {
  border: 1px solid black;
}

/* #hex-grid {
  display: flex;
  flex-wrap: wrap;
  width: calc(100%); 
  margin: 0 -12.5px;
  padding: 50px 0;
}

.hex {
  position: relative;
  width: 115px;
  height: 115px;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  background: gray;

} */
